.main.container
  .contents
    .contents__container
      %h1
        検索
      .search
        %input{onclick: "checkGeolocatioon()", type: "button", value: "現在地を取得"}

        #result

        %label 検索範囲（半径）
        %select{id: "range", name: "range", required: true}
          %option{value: "1"} 300m
          %option{value: "2"} 500m
          %option{value: "3"} 1000m
          %option{value: "4"} 2000m
          %option{value: "5"} 3000m
        -# %input{id: "range", name: "range", type: "number", value: "10"}
        %input{id: "search", type: "button", value: "検索", onclick: "search()"}