- @hash['results']['shop'].each do |name|
  %br
  = name['name']
%br
-#= @datas['results']['shop']

-# %br
-# = @shops.elements['results/shop[]/name'].text
-# %br
-# - @shops.elements['results/shop[]'].each do |shop|
-#   %br
-#   = shop.text
-#   %br
-#   = data

-# - @shops.each_with_index do |name, i|
-#   = index = i.to_s
-#   = name.elements['results/shop/name[1]'].text