.navbar {
  background-color: #056676;
  height: 90px;
  min-width: 720px;
}

.rogo-img {
  background-image: url('../images/rogo.png');
  background-size:cover;
  width:180px;                             /* 横幅のサイズを指定    */
  height:70px;  
}